html {
    background-color: gray;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 10%;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgba(255, 0, 0, 1);
}

button {
    padding: 9px 25px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.8);
}